<nav class="bg-primary text-white p-4 shadow-md sticky top-0 z-50">
  <div class="max-w-6xl mx-auto">
    <ul class="flex w-full justify-around text-xl">
      <li><a href="/" class="hover:text-accent"><img style="height: 3em;" src="/img/computer.png"></a></li>
      <li><a href="/about" class="hover:text-accent"><img style="height: 3em;" src="/img/display-pic.png"></a></li>
      <li><a href="/projects" class="hover:text-accent"><img style="height: 3em;" src="/img/project.png"></a></li>
      <li><a href="/skills" class="hover:text-accent"><img style="height: 3em;" src="/img/ability.png"></a></li>
      <li><a href="/contact" class="hover:text-accent"><img style="height: 3em;" src="/img/contact.png"></a></li>
    </ul>
  </div>
</nav>

<!-- <a href="https://www.flaticon.com/free-icons/smart-home" title="smart home icons">Smart home icons created by xnimrodx - Flaticon</a> -->
<!-- <a href="https://www.flaticon.com/free-icons/profile-pic" title="profile pic icons">Profile pic icons created by Creative Squad - Flaticon</a> -->
<!-- <a href="https://www.flaticon.com/free-icons/project" title="project icons">Project icons created by Freepik - Flaticon</a> -->
<!-- <a href="https://www.flaticon.com/free-icons/ability" title="ability icons">Ability icons created by Eucalyp - Flaticon</a> -->
<!-- <a href="https://www.flaticon.com/free-icons/contact" title="contact icons">Contact icons created by Freepik - Flaticon</a> -->